*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: grid;
  place-items: center;
  height: 90vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-image: linear-gradient(225deg, #ffda00 0, #ffca00 10%, #ffb900 20%, #ffa502 30%, #ff9115 40%, #f37b1f 50%, #e46625 60%, #d6542a 70%, #c9442f 80%, #bd3533 90%, #b32938 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}